/* Variables */
$color-black: #000;
$color-white: #fff;
$color-gold: #d4af37;
$color-gold-dark: #b18e2a;
$color-gray-light: #f5f5f5;
$color-gray-medium:  #afafaf;
$color-gray-dark: #333;
$color-footer-bg: #111;
